In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

In [ ]:
url='https://raw.githubusercontent.com/Prateek190/s1/master/LoughranMcDonald_MasterDictionary_2018.csv'
df= pd.read_csv(url)

In [ ]:
df.head()

        Word  Sequence Number  Word Count  ...  Harvard_IV  Syllables     Source
0   AARDVARK                1         277  ...           0          2  12of12inf
1  AARDVARKS                2           3  ...           0          2  12of12inf
2      ABACI                3           8  ...           0          3  12of12inf
3      ABACK                4          12  ...           0          2  12of12inf
4     ABACUS                5        7250  ...           0          3  12of12inf

[5 rows x 19 columns]

In [ ]:
dfn=df[df['Negative']!=0]
dfn.head()

            Word  Sequence Number  Word Count  ...  Harvard_IV  Syllables     Source
9        ABANDON               10      103050  ...           1          3  12of12inf
10     ABANDONED               11      201921  ...           2          3  12of12inf
11    ABANDONING               12       18985  ...           2          4  12of12inf
12   ABANDONMENT               13      229801  ...           1          4  12of12inf
13  ABANDONMENTS               14        9276  ...           2          4  12of12inf

[5 rows x 19 columns]

In [ ]:
url='https://github.com/Prateek190/s1/raw/master/IOC.csv'
dffirm= pd.read_csv(url)
url1='https://github.com/Prateek190/s2/raw/master/IOC.csv'
url2='https://raw.githubusercontent.com/Prateek190/s3/master/IOC.csv'
dffirm1= pd.read_csv(url1)
dffirm2= pd.read_csv(url2)
df1=pd.concat([dffirm,dffirm1])
dff= pd.concat([df1,dffirm2])
dff.dropna(inplace=True)

dff['Date'] = dff['Date'].astype(str)
#dff['Date'] = pd.to_datetime(dff.Date,errors='ignore')
dffnx= dff.set_index('Date')

In [ ]:

m=dfn['Word'].to_list()
nwords=[w.lower() for w in m]
nwords

  #a+=datetime.timedelta(days=1)
  #a.isoformat()
companies=["Adani", "Asian Paints", "Axis Bank", "Bajaj Auto", "Bajaj Finance", "Bajaj Finserv", "Airtel", "Bharti Infratel", "BPCL", "Britannia", "Cipla", "Coal India", "Reddy", "Eicher", "GAIL", "Grasim", "HCL", "HDFC", "HDFC Bank", "Hero Moto", "Hindalco", "Unilever", "ICICI", "IndusInd", "Infosys", "IOC", "ITC", "JSW", "Kotak", "Larsen", "Mahindra  Mahindra", "Maruti", "Nestle", "NTPC", "ONGC", "PowerGrid", "Reliance", "Shree Cement", "State Bank", "Sun Pharma", "TCS", "Tata Motors", "Tata Steel", "Tech Mahindra", "Titan", "UltraTech", "Phosphorus Limited", "Vedanta", "Wipro", "Zee"]

In [ ]:
import datetime
import nltk
import re
nltk.download('punkt')
nltk.download('wordnet')
slist=[]

a=datetime.date(2018,1,1)
A=a.isoformat()


#dffnx.loc[A,'Article']
while(a<=datetime.date(2019,12,31)):
  if A not in dffnx.index:
    
    a+=datetime.timedelta(days=1)
    A=a.isoformat()
    
    continue;
  article=dffnx.loc[A]
  s=''
  for x in article['Article']:
    noofothers=0
    for q in companies:
      if(q.lower() in x.lower()):
        noofothers+=1
    if(noofothers>5):
      for q in re.split('\.\s+',x):
        if ('indian oil corp.' or 'indian oil corporation' or 'indian oil corp' or 'ioc') in q.lower():
          s+='\n'+q+'\n'
    else:
      s+=x
    # print(s)
    # print("**********************")
  each_list= nltk.word_tokenize(s)
  
  WNlemma = nltk.WordNetLemmatizer()
  [WNlemma.lemmatize(t) for t in each_list[:-1]]
  [t.lower() for t in each_list[:-1]]
  slist.append(each_list)
  a+=datetime.timedelta(days=1)
  A=a.isoformat()
  
  
print(len(slist))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
582

In [ ]:
#word count
import datetime
a=datetime.date(2018,1,1)
A=a.isoformat()
word_list=[]
#dffnx.loc[A,'Article']
while(a<=datetime.date(2019,12,31)):
  if A not in dffnx.index:
    a+=datetime.timedelta(days=1)
    A=a.isoformat()
    word_list.append(0)
    continue;
  article=dffnx.loc[A]
  s=''
  for x in article['Article']:
    noofothers=0
    for q in companies:
      if(q.lower() in x.lower()):
        noofothers+=1
    if(noofothers>5):
      for q in re.split('\.\s+',x):
        if  ('indian oil corp.' or 'indian oil corporation' or 'indian oil corp' or 'ioc') in q.lower():
          s+='\n'+q+'\n'
    else:
      s+=x  
  each_list= s.split(' ')
  word_count=len(each_list)
 
  word_list.append(word_count)
  a+=datetime.timedelta(days=1)
  A=a.isoformat()
wdd_dic={'word count':word_list}  
wdd=pd.DataFrame(wdd_dic)
wdd.to_csv('word_count_ioc.csv',index=True)

In [ ]:
#word count without 0
import datetime
a=datetime.date(2018,1,1)
A=a.isoformat()
word_list1=[]
#dffnx.loc[A,'Article']
while(a<=datetime.date(2019,12,31)):
  if A not in dffnx.index:
    a+=datetime.timedelta(days=1)
    A=a.isoformat()
    
    continue;
  article=dffnx.loc[A]
  s=''
  for x in article['Article']:
    noofothers=0
    for q in companies:
      if(q.lower() in x.lower()):
        noofothers+=1
    if(noofothers>5):
      for q in re.split('\.\s+',x):
        if  ('indian oil corp.' or 'indian oil corporation' or 'indian oil corp' or 'ioc') in q.lower():
          s+='\n'+q+'\n'
    else:
      s+=x  
  each_list= s.split(' ')
  word_count=len(each_list)
 
  word_list1.append(word_count)
  a+=datetime.timedelta(days=1)
  A=a.isoformat()

print(len(word_list1))

582

In [ ]:
#article count per day

a=datetime.date(2018,1,1)
A=a.isoformat()
pdf_list=[]
#dffnx.loc[A,'Article']
while(a<=datetime.date(2019,12,31)):
  if A not in dffnx.index:
    a+=datetime.timedelta(days=1)
    A=a.isoformat()
    pdf_list.append(0)
    continue;
  article=dffnx.loc[A,'Article']
  mns=pd.Series(article,name='Article')
  #print(mns)
  pdf=mns.to_frame()
  #print(pdf)
  msd=len(pdf['Article'])
  pdf_list.append(msd)
 
  
  a+=datetime.timedelta(days=1)
  A=a.isoformat()

pdf_dic={'article count': pdf_list}
fd= pd.DataFrame(pdf_dic)
#print(len(fd))
fd.to_csv('article_count_ioc.csv',index=True)

In [ ]:
nncount=[]
for z in slist:
  ncount=0
  for i in nwords:
    for j in z:
      if(i==j):
        ncount=ncount+1
  #print(ncount)
  nncount.append(ncount)
#print(nncount)
ecnt_dic={'negative count': nncount}  
ecnt=pd.DataFrame(ecnt_dic)
ecnt.to_csv('ncount_ioc.csv',index=True)

In [ ]:
import numpy as np
nnnp= np.array(nncount)
wordnp=np.array(word_list1)
pct_np=(nnnp/wordnp)*100
pct_list=pct_np.tolist()
mny=[]
for i in pct_list:
  pct= round(i,2)
  mny.append(pct)
#print(mny)  
pct_dic={'pct': mny}
pct_df=pd.DataFrame(pct_dic)
pct_df.to_csv('pct_ioc.csv',index=True)

In [ ]:
import pandas as pd
companies=["Adani", "Asian Paints", "Axis Bank", "Bajaj Auto", "Bajaj Finance", "Bajaj Finserv", "Airtel", "Bharti Infratel", "BPCL", "Britannia", "Cipla", "Coal India", "Reddy", "Eicher", "GAIL", "Grasim", "HCL", "HDFC", "HDFC Bank", "Hero Moto", "Hindalco", "Unilever", "ICICI", "IndusInd", "Infosys", "IOC", "ITC", "JSW", "Kotak", "Larsen", "Mahindra Mahindra", "Maruti", "Nestle", "NTPC", "ONGC", "PowerGrid", "Reliance", "Shree Cement", "State Bank", "Sun Pharma", "TCS", "Tata Motors", "Tata Steel", "Tech Mahindra", "Titan", "UltraTech", "Phosphorus Limited", "Vedanta", "Wipro", "Zee"]
dfg=pd.DataFrame(companies)
dfg.to_csv('comp.csv',index=True)